<br><br><br><br>
  <div class="titre">
  <h1>Bienvenue sur EasyEditor !</h1>
  </div>

  <img src="../../assets/code.png">

  <div class="blabla">
    EasyEditor, le site qui vous permettra de modifier facilement vos fichiers
  </div>

  <div class="blablabla">
    5 langages différents vous sont proposés : PHP, HTML, CSS, JS, MySQL. L'éditeur de code vous permet d'écrire et modifier vos lignes et de vous repérer facilement grâce à la coloration syntaxique et l'auto-complétion. Vous pourrez sauvergader et organiser vos dossiers et fichiers.
    <br><br><br>
Langages disponibles :
  </div>

<div class="language">
  <span id="php"><a href="https://www.php.net/"><input class="lang"type="image" src="../../assets/phpb.png"></a></span>
  <a href="https://developer.mozilla.org/fr/docs/Web/HTML"><input class="lang" type="image" src="../../assets/html.png"></a>
  <a href="https://developer.mozilla.org/fr/docs/Web/CSS"><input class="lang" type="image" src="../../assets/css.png"></a>
  <br>  <br>
  <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript"><input class="lang" type="image" src="../../assets/js.png"></a>
  <a href="https://www.mysql.com/fr/"><input class="lang" type="image" src="../../assets/sql.png"></a>

</div>

<div class="coder">
<input class="btn third" type="button" routerLinkActive="active" routerLink="editeur#" alt="Editeur" value="Commencer à coder">
</div>
